{% extends 'journal/navbar.html' %}  

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Want to delete your thought</h3>

        <br>
        <br>
        <form method = "POST" autocomplete="off" >

            {% csrf_token %}

            <br>

            <button class="btn btn-outline-danger btn-md w-100 btn-block p-3" type="submit">  &nbsp; Delete Thought </button>

        </form>
        <a href="{% url 'my-thoughts' %}"> Return to thoughts </a>

    </div>

    

    <br>
{% endblock %}   