

<html>

       
        <h3> Enter your new password</h3>

        <br> 

        <p> Please Enter your new password 
            twice so that we can verify that your
            typed it in correctly
        </p>

        <br> 

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form}}  

            <br>

            <input  type="Submit" name="Update Password" >

        </form>



</html>














