

{% extends 'journal/navbar.html' %}  

{% load crispy_forms_tags %}


{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Update Username & email</h3>

        <br>
        <br>
        <form method = "POST" autocomplete="off" >

            {% csrf_token %}

            {{ ProfileForm |crispy }}



            <br>

            <button class="btn btn-secondary btn-md w-100 btn-block p-3" type="submit">  &nbsp; Update User </button>

            <br>
            <br>



            <a button type="button" class="btn btn-outline-danger btn-sm" href="{% url 'delete-account' %}">Delete account</a>

            <br>
            <br>



            <a button type="button" class="btn btn-outline-info btn-sm" href="{% url 'reset_password' %}">Reset Password</a>


        </form>


    </div>

    <br>

     <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Update Profile Picture </h3>  

     
        <form method = "POST" autocomplete="off"  enctype="multipart/form-data">

            {% csrf_token %}

            {{ ProfileUpdateForm |crispy }}  


            <br>

            <button class="btn btn-secondary btn-md w-100 btn-block p-3" type="submit">  &nbsp; Update Profile Picture </button>

            <br>
        </form>

    </div>

    <br>
{% endblock %}   